* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header{
    background-image: url(images/headerbg.jpg);
    /* max-height: 300%; */
}

.top-bar {
  /* background-color: #1b1c1d; */
  color: white;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.social-icons a img {
  width: 20px;
  margin-left: 10px;
}

.navbar {
  /* background-color: #005c99;    */
  padding: 30px 20px;
  height: 80px;
}

.navbar ul {
  list-style: none;
  display: flex;    
  gap: 30px;
  margin-left: 36%;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar ul li a.active {
  color: orange;
}

.contact-banner {
    /* background: linear-gradient(to right, #0e7490, #1e3a8a); */
    background-image: url(images/bannerBginner.png);
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

.contact-banner h2{
  margin-left: 13%;
}
.contact-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 40px;
}

.gettouch {
  margin-bottom: 40px;
}
.gettouch h2{
    margin-bottom: 10px;
}

.contact-columns {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.contact-form,
.contact-info {
  flex: 1;
  min-width: 300px;
}

.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #004e7c;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.contact-info .map {
  width:400px;
  height: 400px;
  margin-top: 20px;
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
  .contact-columns {
    flex-direction: column;
  }
}

footer {
  /* background-color: #005c99; */
  background-image: url(images/footer.jpg);
  color: white;
  padding: 15px;
}

footer .footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer nav {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

footer nav a {
  color: white;
  text-decoration: none;
}

footer nav a:hover {
  text-decoration: underline;
}

footer .social-icons {
  display: flex;
  gap: 10px;
}

footer .social-icons a {
  display: inline-block;
}

footer .rights-reserved {
  text-align: left;
  padding-left: 305px;
  font-size: 14px;
  color: white;
  margin-left: 15px;
}