* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header{
    background-image: url(images/headerbg.jpg);
    /* max-height: 300%; */
}
.top-bar {
  /* background-color: #1b1c1d; */
  color: white;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons a img {
  width: 20px;
  margin-left: 10px;
}

.navbar {
  /* background-color: #005c99;    */
  padding: 30px 20px;
  height: 80px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-left: 36%;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar ul li a.active {
  color: orange;
}



footer {
  /* background-color: #005c99; */
  background-image: url(images/footer.jpg);
  color: white;
  padding: 15px;
}

footer .footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer nav {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

footer nav a {
  color: white;
  text-decoration: none;
}

footer nav a:hover {
  text-decoration: underline;
}

footer .social-icons {
  display: flex;
  gap: 10px;
}

footer .social-icons a {
  display: inline-block;
}

footer .rights-reserved {
  text-align: left;
  padding-left: 305px;
  font-size: 14px;
  color: white;
  margin-left: 15px;
}